* {
    --key-base-size: 70px;

    --blue-light: #2b8eda;
    --blue-dark: #09204f;

    --green-light: #6bda2b;
    --green-dark: #0c4208;

    --yellow-light: #fce932;
    --yellow-dark: #786d04;

    --red-light: #eb4034;
    --red-dark: #550000;
}

* {
    box-sizing: border-box;
}

html, body{
    background-color: #fbf3db;
    font-family: sans-serif;
}

.biggo-container {
    width: min-content;
    margin: auto;
}

.center-margin {
    margin: 0 auto;
    align-items: center;
}

/* Keyboard Stuff */

.key-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.keyboard-container {
    /* margin: 0 auto; */
    padding: 20px;

    width: max-content;
    height: max-content;

    /* background-color: #efefef; */

    border: 1px solid #555;
    border-radius: 5px;

    overflow-x: auto;
}

.key {
    margin: 3px;

    width: var(--key-base-size);
    height: var(--key-base-size);

    border: 1px solid #777;
    border-radius: 3px;

    box-shadow: 0px 1px 2px #777;

    font-size: 0.9rem;
    text-align: center;

    background-color: #fefefe;

    display: flex;
    justify-content: center; /* Align horizontal */
    align-items: center;     /* Align vertical   */

    user-select: none;

    transition-duration: 0.07s;
}

.key-inactive {
    background-color: #fefefe;
    border-color: #777;
}

.double {
    width: calc(var(--key-base-size) * 2);
}

.third {
    width: calc(var(--key-base-size) * 1.5);
}

.small-third {
    width: calc(var(--key-base-size) * 1.2);
}

.half-height-container {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
}

.half-height {
    height: calc(var(--key-base-size) * 0.45);
}

.space {
    width: calc(var(--key-base-size) * 8.5);
}

.backslash {
    width: calc(var(--key-base-size) * 1.3);
}

.enter {
    width: calc(var(--key-base-size) * 2.2);
}

.right-shift {
    width: calc(var(--key-base-size) * 2.8);
}

.down-arrow {
    font-stretch: semi-condensed;
}

/* Key States */
.active {
    color: white;
    text-shadow: 1px 1px #555;
}

.active-blue {
    background-color: var(--blue-light);
    border-color: var(--blue-dark);
}

.active-green {
    background-color: var(--green-light);
    border-color: var(--green-dark);
}

.active-yellow {
    background-color: var(--yellow-light);
    border-color: var(--yellow-dark);
}

.active-red {
    background-color: var(--red-light);
    border-color: var(--red-dark);
}

.corner-yellow {
    background: linear-gradient(45deg, #2b8eda 10%, #fefefe00 11%), linear-gradient(135deg, #eb4034 10%, #fefefe00 11%),linear-gradient(225deg, #fce932 10%, #fefefe00 11%),linear-gradient(315deg, #6bda2b 10%, #fefefe00 11%), white;}

.inactive-control {
    border-color: var(--blue-light);
    border-width: 3px;
}

.inactive-shift {
    border-color: var(--yellow-light);
    border-width: 3px;
}

.inactive-alt {
    border-color: var(--green-light);
    border-width: 3px;
}

.inactive-super {
    border-color: var(--red-light);
    border-width: 3px;
}
