html, body {
    background-color: #fbf3db;
    font-family: sans-serif;
}

center-margin {
    margin: 0 auto;
}

/* Keyboard Stuff */

.keyboard-container {
    margin: 0 auto;
    padding: 20px;

    width: max-content;
    height: max-content;

    /* background-color: #efefef; */

    border: 1px solid #555;
    border-radius: 5px;

    overflow-x: auto;
}

.key {
    margin: 3px;

    width: 50px;
    height: 50px;

    border: 1px solid #777;
    border-radius: 3px;

    box-shadow: 0px 1px 2px #777;

    font-size: 0.9rem;
    text-align: center;

    background-color: #fefefe;

    display: flex;
    justify-content: center; /* Align horizontal */
    align-items: center;     /* Align vertical   */
}

.double {
    width: 100px;
}

.third {
    width: 75px;
}

.small-third {
    width: 60px;
}

.space {
    width: 422px;
}

.backslash {
    width: 65px;
}

.enter {
    width: 109px;
}

.right-shift {
    width: 142px;
}

.key-row {
    display: flex;
    flex-direction: row;
}

/* Key States */
.active-blue {
    background-color: #2B8EDA;
    border-color: #0E2F73;

    color: white;
}
